.div-search{
    text-align: left;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #04091e;
    padding-bottom: 1rem;
}

.results{
    margin-top: 1rem;
}

.modal-title{
    display: block;
}

#detail-package, #myModalLabel{
    padding-left: 10px;
}

.clickable-row{
    font-weight: bold;
    background-color: rgb(211, 209, 209);
}

.clickable-row:hover{
    background-color: rgb(179, 176, 176);
    transition: ease-in .2s;
    cursor: pointer;
}

.table-results{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.thead{
    background-color: #04091e;
    color: white;
}

.field-search{
    display: inline-block;
}

.row-search{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
}

.btn-form{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.btn-search{
    background-color: #f3c300;
    font-weight: bold;
}

.btn-search:hover{
    background-color: #f9f505;
}

.packages-body{
    background-color: rgb(201, 199, 199);
}